.banner-container {
  position: relative;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
  /* background-image: url("image/banner/banner1.png"); */
}

.banner-img {
  width: 100%;
  height: auto;
  display: block;
}

.banner-text {
  position: absolute; 
  top: 50%;           
  left: 80%;          
  transform: translate(-50%, -50%); 
  color: black;
  text-align: right;
  

}
button{
    background-color: rgb(223, 83, 18);
    padding: 20px;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}
.second, main{
     position: relative;
  width: 100%;
  max-width: 1200px; 
  margin: 130px auto 0px;
  
}
.second .second-pera{
    display: flex;
    gap: 28px;
}
i{
    color: rgb(0, 255, 128);
}
.img-title{
    margin: auto;
    padding: 130px;
}
.head{
  text-align: center;
  margin-top: 130px;
  font-size: 2em;
}
.third{
   position: relative;
  width: 100%;
  max-width: 1200px; 
  margin: 130px auto 0px;
}
.logo{
  display: flex;
  gap: 80px;
  margin-left: 210px;
  margin-top: 130px;


}
    
        }
        .caption{
            padding-left: 50px;
            padding-top: 50px;
        }
        .button{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    color: rgb(247, 108, 15);
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50px;
}
.new-part{
  
  width: 1140px;
            height: 301px;
            background-image:url('image/gradient3.png'), url("image/watch.png");
            background-position: center;
            border-radius: 5px;
}